<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ja">
<head th:replace="~{SC00V_Common :: head(title = 'Seisan', links = ~{::link}, scripts = ~{::script})}">
    <link th:href="@{/css/ST02V.css}" rel="stylesheet">
    <script th:src="@{/js/ST02V.js}" defer></script>
</head>
<body>
    <!-- headerセクション -->
    <section th:replace="~{SC00V_Common :: header}">
    </section>

    <!-- footerセクション -->
    <section th:replace="`{SC00V_Common :: footer}">
    </section>
</body>
</html>